@import 'inputs';
@import 'buttons';
@import 'table';

$spacing: 12px;

header {
  h1 {
    line-height: 1;
    margin: $spacing;
  }
}

p {
  margin-left: $spacing;
}

#splitable {
  .radio-button-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 51px;
    display: flex;
    align-items: center;

    label:first-child {
      padding-right: 24px;
    }
  }

  .row {
    margin-bottom: 0;
  }
}
