.modal,
.modal-footer {
  background-color: #efebe9 !important;
}

.modal {
  p {
    margin-left: unset;
  }

  .email {
    position: absolute;
  }

  .modal-footer {
    display: flex;

    .modal-close {
      right: 12px;
      position: absolute;
    }

    .email {
      align-self: center;
      left: 24px;
    }
  }
}


