@import 'materialize-css/sass/materialize.scss';
@import 'materialize-css/sass/components/_variables.scss';

.modal,
.modal-footer {
  background-color: #efebe9 !important;
}

#about-modal {
  @media #{$small-and-down} {
    width: 90%;
  }

  p {
    margin-left: unset;
  }

  .email {
    position: absolute;
  }

  .modal-footer {
    display: flex;

    .modal-close {
      right: 12px;
      position: absolute;
    }

    .email {
      align-self: center;
      left: 24px;

      @media #{$small-and-down} {
        left: 12px;
      }
    }
  }

  .modal-content {
    @media #{$small-and-down} {
      padding: 12px;
    }
  }
}


