table {
  width: 100%;
  table-layout: fixed;

  th {
    text-align: left;
  }

  .name-col,
  .due-col {
    width: 20%;
  }

  .person-row {
    input {
      width: 90%;
    }

    .item-input {
      width: 40px;
    }
  }
}
