table {
  width: 100%;
  table-layout: fixed;

  th {
    text-align: left;
  }

  td {
    padding: 5px;
  }

  .name-col,
  .due-col {
    width: 20%;
  }

  .person-row {
    input {
      width: 90%;
    }
  }

  input {
    font-size: 12px;
  }
}
